@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px red; */
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden !important;
  position: relative;
  scroll-behavior: smooth;
}
#root {
  width: 100%;
  height: 100%;
  position: relative;
}
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
/* to make the increment and decrement buttons invisible  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* =======================the humbeger menu button on small screens  */
input#menu {
  display: none;
}

.icon {
  cursor: pointer;
  display: block;
  height: 40px;
  padding: 16px;
  width: 40px;
}

label.icon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}
label.icon2 {
  top: 10px;
  z-index: 200 !important;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: #065697;
  content: "";
  display: block;
  height: 4px;
  position: absolute;

  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 28px;
}

.icon .menu::before {
  top: -8px;
}
.icon .menu::after {
  top: 8px;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  background-color: white;
  transition: top ease 0.3s, transform ease 0.3s 0.3s, background ease 0.3s;
}

#menu:checked body {
  overflow: hidden !important;
  background-color: green;
}

/* =========================end of the humberger menu for the small devices ===========  */

/* the btn styles to handle the problem if nested group on card hover and btn hover  */
.btn-card:hover > * {
  @apply text-white translate-x-1 animate-pulse opacity-100;
}

/* change the style of the scroll  */
/* the styles for the scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 0.3ms ease-in;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-600;
}

::-webkit-scrollbar-track {
  @apply bg-blue-200;
}

.overlay::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.hero-section-image {
  background-image: url("/devImages/hero-background.jpg");
}
.amenities-section-image {
  background-image: url("/devImages/Imigongo.png");
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
